* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #0B0E18;
    max-width: 98vw;
    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    background: linear-gradient(#0B1B35, #1B2B4D, #364566);
    width: 250px;
    height: 320px;
    align-content: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.800);
}

.content input{
    margin-top: 5px;
    border: 0px;
    border-radius: 5px;
    width: 170px;
    height: 20px;
}

.content button{
    border: 0px;
    height: 20px;
    width: 150px;
    border-radius: 2px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgba(235, 235, 235, 0.9);
    transition: 0.3s;
}

#botaoPaginaInicial{
    border: 0px;
    height: 35px;
    width: 150px;
    border-radius: 2px;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgba(235, 235, 235, 0.9);
    transition: 0.3s;
    margin-top: 25px;
}

#botaoBusca{
    margin-top: 20px;
}

#botaoAtualizar, #botaoCadastros, #botaoCriar, #botaoDeletar{
    margin-top: 5px;
}

button:hover, #botaoPaginaInicial:hover{
    background-color: rgba(235, 235, 235, 0.990);
}

.buttons{
    display: flex;
    flex-direction: column;
}

.buttons:hover button:not(:hover){
    background-color: rgba(235, 235, 235, 0.800);
}

table{
    border-collapse: collapse;
}

#tableCadastros {
    border: 4px solid rgb(109, 109, 109);
    margin: 25px auto;
    background-color: rgb(255, 242, 235);
    border-collapse: collapse;
    width: calc(50% - 50px);
}

th, td {
    border: 1px solid gray;
    text-align: center;
    padding: 15px;
}

th {
    background: linear-gradient(#090C13, #0B1B35, #1B2B4D, #364566);
    color: white;
    font-size: 1.5em;
}